
.card-body{
background-color: rgb(0, 0, 0);
}

.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
    padding: 0;
    border: none;
    margin: 0;
}

.container__btn{
    
    margin: 1px;
    
}